.card {
  background-color: #373a44;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  height: 20vh;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-title > a {
  text-decoration: none;
  color: black;
}

.card-title > a:first-child {
  margin: 1rem;
}

.card-description {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .card {
    height: auto;
  }

  .card-description {
    line-height: 1.2rem;
  }
}
