.slider-container {
  width: 90%;
  margin: 0 auto;
}

.slider-container > h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
  }

.slick-slide > div {
  margin: 0 15px;
}


@media (max-width: 768px) {
  .slick-prev {
    z-index: 1;
    margin-left: 1rem;
  }
  .slick-next {
    margin-right: 1rem;
  }
}